VITE_FIREBASE_API_KEY=AIzaSyDyhOUKzNQQaNxP30q3PmnuHDVnfgnKQBw
VITE_FIREBASE_AUTH_DOMAIN=challenge-arena-freefire.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=challenge-arena-freefire
VITE_FIREBASE_STORAGE_BUCKET=challenge-arena-freefire.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=668149421973
VITE_FIREBASE_APP_ID=1:668149421973:web:660a883c4cfd771ce9089c
VITE_FIREBASE_MEASUREMENT_ID=G-WMPXHFGC5N
VITE_API_BASE_URL=
